@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

/* header */

header {
    background-color: white;
    border-bottom: 1px solid rgb(192, 192, 192);
    color: #272643;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}

header>h1 {
    font-size: 1.5rem;
    flex-grow: 30;
    padding-left: 1.3rem;
}

#search-bar {
    align-self: center;
    justify-content: center;
    flex-grow: 2;
    display: inline-flex;
}

input[type="search"],
button[type="submit"] {
    height: 2rem;
    border: none;
}

input[type="search"] {
    width: 20rem;
    padding-left: 1.1rem;
    border-radius: 20px 0 0 20px;
    background-color: #f2f3f4;
}

button[type="submit"] {
    width: 3rem;
    border-radius: 0 20px 20px 0;
    border-left: none;
    background-color: #f2f3f4;
    color: rgb(124, 124, 124);
}

input[type="search"]:focus {
    outline: none;
}

/* end of header */

/* main */
main {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "input-user unread-rack unread-rack unread-rack"
        "input-user already-read-rack already-read-rack already-read-rack";
    gap: 10px;
    height: 92%;
    margin: 1rem 1.5rem;
    padding-bottom: 2rem;
}

/* input user */
#input-user {
    grid-area: input-user;
    padding: 1rem;
}

#input-user h2 {
    margin-top: 0;
    text-align: center;
    border-bottom: black;
}

/* end of input user */

#unread-rack {
    grid-area: unread-rack;
}

#already-read-rack {
    grid-area: already-read-rack;
}

#input-user,
#unread-rack,
#already-read-rack {
    border: 1px solid black;
}

/* end of main */

@media (max-width: 576px) {
    #search-bar input {
        width: 10rem;
    }
}